<!DOCTYPE html>
<html>

<head>
    <%- include('assets/materialze-css.html', {}); %>
    <title>Archive - The bread blog</title>
</head>

<body>

    <%- include('navbar.html', {active: 'archive'}); %>

    <div class="container">

    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script id="material-initializers">
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var sidenavOptions = {}
            var instances = M.Sidenav.init(elems, sidenavOptions);
        });
    </script>
</body>

</html>