<!DOCTYPE html>
<html>

<head>
    <%- include('assets/materialze-css.html', {}); %>
    <title>The bread blog</title>
</head>

<body>

    <%- include('navbar.html', {active: 'home'}); %>

    <div class="container">
        <div class="row">

            <div class="col s12">
                <h1>Welcome to The Bread Blog.</h1>
            </div>
            <div class="col s12">
                <p>
                    Wanna hear something cool?
                </p>
            </div>
        </div>
    </div>
    <%- include('assets/materialize-js.html', {}); %>
</body>

</html>