<!DOCTYPE html>
<html>

<head>
    <%- include('../assets/materialze-css.html', {}); %>
    <title>Create an article</title>
</head>

<body>
    <%- include('../navbar.html', {active: 'article-create'}); %>
    
<% if (!error) { %>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 id="article-title"><%= article.title %></h1>
            </div>
            <div class="col s12">
                <p id="article-date">
                    <span><%= article.date %></span>
                </p>
            </div>
            <div class="col s12">
                <p id="article-content">
                    <span><%= article.content %></span>
                </p>
            </div>
        </div>
    </div>
<% } %>

<% if (error) { %>
    <h3><%= error %></h3>
<% } %>
    <%- include('../assets/materialize-js.html', {}); %>
</body>

</html>