<!DOCTYPE html>
<html>

<head>
    <%- include('../assets/materialze-css.html', {}); %>
    <title>Create an article</title>
</head>

<body>
    <%- include('../navbar.html', {active: 'article-create'}); %>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 id="article-title"><%= title %></h1>
            </div>
            <div class="col s12">
                <p id="article-date">
                    <span><%= date %></span>
                </p>
            </div>
            <div class="col s12">
                <p id="article-content">
                    <span><%= content %></span>
                </p>
            </div>
        </div>
    </div>

    <%- include('../assets/materialize-js.html', {}); %>
</body>

</html>